<script src="https://giscus.app/client.js"
        data-repo="likevanilla/likevanilla.github.io"
        data-repo-id="R_kgDONW2a2Q"
        data-category="General"
        data-category-id="DIC_kwDONW2a2c4Ckwoj"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>